<style>
  .content {
    display : flex;
    column-gap: 30px;
  }
  a {
    padding: 16px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
  }
</style>
<main class="main">
  <div class="content">
    <a href="/Exercise1">Bài Tập 1</a>
    <a href="/Exercise2">Bài Tập 2</a>
    <a href="/Exercise3">Bài Tập 3</a>
    <a href="/Exercise4">Bài Tập 4</a>
    <a href="/Exercise5">Bài Tập 5</a>
    <a href="/Exercise6">Bài Tập 6</a>
    <a href="/Exercise7">Bài Tập 7</a>
    <a href="/Exercise8">Bài Tập 8</a>
    <a href="/Exercise9">Bài Tập 9</a>
  </div>
</main>
<router-outlet></router-outlet>